* {
    margin: 0;
}

body {
    height: 100vh;
}

.flex-box-row {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-box-column {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: blue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.data {
    margin: 2rem;
    text-align: center;
    padding: 1rem;
    border: 2px solid black;
    border-radius: 1rem;
}

table,
th,
td {
    border: 2px solid black;
    height: 3rem;
}

td {
    width: 20rem;
}

th {
    color: white;
    background-color: black;
}